<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<h3>
    		<div class= "col-xs-6">
				<ol>
					<% @unique_stayed_responses.each do |response| %>
						<li><h4>
							<%= response %>
						</h4></li>
					<% end %>
				<ol>
			</div>					
			<br>
			<br>
			<div class= "col-xs-6">
				<ol>
					<% @unique_left_responses.each do |response| %>
						<li><h4>
							<%= response %>
						</h4></li>
					<% end %>
				<ol>
			</div>
		</h3>
	</body>
</html>

